/*-------------------------------------------GENERALS*/
* {
  font-family: 'Poppins', sans-serif;
}
.btn {
  border-radius: 10px;
}
.btn-outline-dark {
  border-radius: 10px;
  border: 2px solid;
}
.card {
  border-radius: 10px;
  border: 0px;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  color: black;
}

/*-------------------------------------------TABLE*/

.imgTeamsTable {
  max-height: 3rem;
  max-width: 3rem;
  min-height: 3rem;
  min-width: 3rem;
}
.POseed {
  border-radius: 1rem;
}

/*-------------------------------------------PARIDOS*/
.img-teams {
  max-height: 5rem;
  max-width: 5rem;
  min-height: 5rem;
  min-width: 5rem;
}
.gameTime {
  font-size: 1.2rem;
  font-weight: 500;
}
/*-------------------------------------------PARIDOS*/

.img-team-info-div {
  max-height: 15rem;
  max-width: 15rem;
  min-height: 15rem;
  min-width: 15rem;
}
.img-team-info {
  max-height: 13rem;
  max-width: 13rem;
  min-height: 13rem;
  min-width: 13rem;
}

/*--------------------------------------------------------------------LESIONADOS*/
.imgPJ {
  height: 50px;
}
